
@{
    ViewData["Title"] = "Form";
}

<h1>Form</h1>

<form method="post" action="GetData">

    First Name: <input type="text" name="FirstName" />
    Last Name: <input type="text" name="LastName" />
   

    
    <input type="submit" value="Submit" />



</form>

