@{
    ViewData["Title"] = "Home Page";
}



<form method="post" action="Success" id="userinfo">

    FirstName  <input type="text" id="fName" name="FirstName" required="required" /><br />
    LastName   <input type="text" id="lName" name="LastName" required="required" /><br />
    Email      <input type="text" id="Email" name="Email" /><br />
    Password   <input type="text" id="PW" name="Password" /><br />
               <input type="text" id="confirmPW" placeholder="confirm PW" />
    


    <!--
    <input type="submit" id="submit" onmouseover="checkInput"/> -->

    <input type="submit" id="submit"   />

</form>



<script>






    function checkEmpty(e) {

        if (e == undefined || e == null) return " ";
        else return e.value;
    }



    function checkInput() {

        console.clear();

        const emailPattern = /(\w+\u0040{1}\w+\.{1}\w+)/g;
        const PWPattern = /(?=.*\u0040+)(?=.*\p{Lu}+)(?=.*\p{Ll}+)(?=.*\p{Nd}+).*/gu;

        const emailCheck = new RegExp(emailPattern);
        const PWCheck = new RegExp(PWPattern);

        const inputEmail = checkEmpty(document.getElementById("Email"));
        console.log(`email: ${inputEmail}`);
        const inputPW = checkEmpty(document.getElementById("PW"));
        console.log(`PW: ${inputPW}`);

        const confirmed = checkEmpty(document.getElementById("confirmPW"))
        console.log(`confirm PW: ${confirmed}`);

        var a = emailCheck.test(inputEmail);
        var b = PWCheck.test(inputPW);
        var c = inputPW === confirmed;

        console.log(`email ${inputEmail} test: ${a}`);
        console.log(`PW    ${inputPW} test: ${b}`);

        console.log(`emailCheck: ${!!emailCheck.test(inputEmail)}`);
        console.log(`PWCheck: ${!!PWCheck.test(inputPW)}`);
        console.log(`= ${PWCheck.test(inputPW)&&emailCheck.test(inputEmail)}`)

        var isValid = a && b && c;

        let invalidInpt = emailCheck.test(inputEmail) && PWCheck.test(inputPW);
        //let invalidInpt = a&&b;
        console.log(`isValid: ${isValid}`);
        console.log(`invalidInpt: ${invalidInpt}`);


        if (!isValid) {
            document.getElementById("userinfo").setAttribute("action", "");
            console.log('not passed');
        }
        else document.getElementById("userinfo").setAttribute("action", "Success");


        console.log(`action: ${document.getElementById("userinfo").getAttribute("action")}`);

       
    }


    let SubButton = document.querySelector('input[type=submit]');

    SubButton.addEventListener("mouseover", checkInput);






</script>