
@{
    ViewData["Title"] = "Success";
}

<h1>Success</h1>

successfully logged in 

Redirecting back to index..


<script>

    window.setTimeout(redirectToHome, 7000);

    function redirectToHome() {

        window.location.replace("Index");

    }




</script>

