
@{
    ViewData["Title"] = "User Login";
}

<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->


<form method="post" action="/UserControls/uLogin">
    <input type="text" name="Username" />

    <input type="submit" value="Login" />
</form>