@model Deck
@{
    ViewData["Title"] = "Home Page";
}


<form form method="post" action="">
      
    <table>



        <tr> <td><a href="DrawHand">Draw cards</a></td></tr>
        <tr> <td></td></tr>


        <tr>

         <td></td>



        </tr>


        <tr>

            <td></td>

        </tr>






    </table>
</form>